@keyframes slideDown {
    0% {
      transform: translateY(-80%);
      opacity: 1;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .animate-slide-down {
    animation: slideDown .7s ease-out;
    z-index: 99;
  }

  ::-webkit-scrollbar{
    display: none;
  }

  .shadow{
    box-shadow: 4px 6px rgba(0, 0, 0, 0.1), 0px -4px 6px rgba(0, 0, 0, 0.1), 4px 0px 6px rgba(0, 0, 0, 0.1), -4px 0px 6px rgba(0, 0, 0, 0.1)
  }